.list-of-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    list-style: none;
    li{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        border-radius: 8px;
        overflow: hidden;
        background: white;
        width: calc(50% - 20px);
    }
    a, a:hover{
        color: #363636;
    }
}



@media (max-width: 1200px) {
    .list-of-articles li {
        width: calc(33.333% - 20px);
    }
}

@media (max-width: 800px) {
    .list-of-articles li {
        width: calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .list-of-articles li {
        width: calc(100% - 20px);
    }
}