.article{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.article-picture{
    width: 100%;
    overflow: hidden;
    padding: 15px;
    height: 300px;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}
.article-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    min-width: 250px;
}
.article-name, .article-topic, .article-desc {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 5px;
    text-align: left;
}
.article-topic{
    b{
        padding-right: 10px;
    }
}

.card {
    width: 100%;
    figure{
        width: 160px;
        height: 140px;
    }
}