$border-color: #edeff2;
$comment-radius: 2px;
$comment-space: 20px;

.form-group .form-input {
  font-size: $comment-space;
  line-height: $comment-space * 4;
  font-weight: 400;
  color: #b4b7c1;
  width: 100%;
  height: $comment-space * 4;
  padding-left: $comment-space + 5px;
  border: 1px solid $border-color;
  border-radius: 3px;
}
.be-comment-block {
  .btn{
    max-width: 120px;
    margin: auto;
  }
}