.tabs-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 20px auto;
    justify-content: center;
    li{
        padding: 10px;
        color: var(--dark-blue);
        cursor: pointer;
        font-size: 1.4rem;
        transition: .3s all;
    }
    li.active{
        background-color: #0d6efd;
        color: #fff;
    }
    li:first-child{
        border-right: 2px solid var(--dark-blue);
    }
}
#root{
    & > .authorisation{
        min-height: calc(100vh - 240px);
    }
}